$COLOR_BLACK: #111111;
$COLOR_DARK: #333333;
$COLOR_GRAY: #666666;
$COLOR_GRAY02: #999999;
$COLOR_LIGHTGRAY: #cccccc;
$COLOR_WHITE: #ffffff;
$COLOR_YELLOW: #edc159;

$COLOR_MAIN: #001d43;
$COLOR_DARKBROWN: #221613;
$COLOR_THINGREEN: #788b8d;
