<%
include('/_utils');

const params = ejsUtils.defaultParamsMapper(locals, {
  layer: null,
  title: null,
  dirname: null,
  un_class: null,
  un_id: null,
  un_canonical: null
});
%>

</div>
<!-- /.allContentWrap -->
</div><!-- / #container -->
</div>
<!-- /wrapper -->
</body>

</html>
