<%- include('/_head', {
  title: 'sample_curtain_01',
  ogType: 'website',
  originalCss: 'sample_curtain_01'
  }) %>
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
<div id="canvas"></div>

<div class="wrapper">
  <div class="plane">
    <img src="./medias/plane-texture-3.jpg" />
  </div>
</div>
<script id="plane-vs" type="x-shader/x-vertex">
  			precision mediump float;

  			// those are the mandatory attributes that the lib sets
  			attribute vec3 aVertexPosition;
  			attribute vec2 aTextureCoord;

  			// those are mandatory uniforms that the lib sets and that contain our model view and projection matrix
  			uniform mat4 uMVMatrix;
  			uniform mat4 uPMatrix;

  			// our texture matrix that will handle image cover
  			uniform mat4 uTextureMatrix0;

  			// if you want to pass your vertex and texture coords to the fragment shader
  			varying vec3 vVertexPosition;
  			varying vec2 vTextureCoord;

  			void main() {
  				vec3 vertexPosition = aVertexPosition;

  				gl_Position = uPMatrix * uMVMatrix * vec4(vertexPosition, 1.0);

  				// set the varyings
  				// here we use our texture matrix to calculate te accurate texture coords
  				vTextureCoord = (uTextureMatrix0 * vec4(aTextureCoord, 0.0, 1.0)).xy;
  				vVertexPosition = vertexPosition;
  			}
          </script>
<script id="plane-fs" type="x-shader/x-fragment">
  			precision mediump float;

  			// get our varyings
  			varying vec3 vVertexPosition;
  			varying vec2 vTextureCoord;

  			// the uniform we declared inside our javascript
  			uniform float uTime;

  			// our texture sampler (default name, to use a different name please refer to the documentation)
  			uniform sampler2D uSampler0;

  			void main() {
  				vec2 textureCoord = vTextureCoord;

  				// displace our pixels along the X axis based on our time uniform
  				// textures coords are ranging from 0.0 to 1.0 on both axis
  				textureCoord.x += sin(textureCoord.y * 25.0) * cos(textureCoord.x * 25.0) * (cos(uTime / 50.0)) / 25.0;

  				gl_FragColor = texture2D(uSampler0, textureCoord);
  			}
          </script>

<%- include('/_foot', {}) %>
