<%- include('/_head', {
  title: 'sample_curtain_01',
  ogType: 'website',
  originalCss: 'sample_curtain_01'
  }) %>
<div id="page-wrap">


  <div id="canvas"></div>

  <a href="https://www.curtainsjs.com/" title="back to curtains.js website" id="back-to-lib-link" target="_blank">back to curtains.js website</a>

  <a href="https://github.com/martinlaxenaire/curtainsjs/blob/master/examples/simple-plane/js/simple.plane.setup.js" title="Show source code" id="source-code-link" target="_blank">&lt;/ &gt;</a>

  <div class="curtain">
    <img src="../medias/plane-texture-3.jpg" data-sampler="simplePlaneTexture" />
  </div>
</div>
<%- include('/_foot', {}) %>
