<% const params = {
  layer: '../',
  title: 'ウォークマン',
  dirname: true,
  un_class: 'un-walkman',
  un_id: 'walkman',
  un_canonical: 'walkman/'
}; %>

<%- include('/_head', { layer: params.layer, title: params.title, dirname: params.dirname, un_class: params.un_class, un_id: params.un_id,un_canonical: params.un_canonical }); %>

<div class="start">START</div>
<div class="replay">REPLAY</div>

<div class="walkman js-walkman">
  <div class="body">
    <div class="body__obj js-body">
      <span class="body__head js-head">
        <span class="body__eye"></span>
      </span>
      <span class="body__hand body__hand--right js-head"></span>
    </div>
  </div>
  <!-- <span class="body__hand body__hand--left js-head"></span> -->
  <div class="foot">
    <span class="foot__part foot__part--left js-foot" >
      <span class="footObj js-footObj">
        <span class="footObj__inner">
          <span class="footObj__bg js-footBg"></span>
        </span>
      </span>
    </span>
    <span class="foot__part foot__part--right js-foot">
      <span class="footObj js-footObj">
        <span class="footObj__inner">
          <span class="footObj__bg js-footBg"></span>
        </span>
      </span>
    </span>
  </div>
</div>

<%- include('/_foot', { layer: params.layer, title: params.title, dirname: params.dirname, un_class: params.un_class, un_id: params.un_id,un_canonical: params.un_canonical }); %>
